/*reset css*/
html,body{height: 100%;overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0;padding: 0;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*头部样式*/
/*
  选择器是从右往左解析，这样效率更高
  选择器有开销的，不同选择器开销不同
    id选择器<类选择器
  结论：选择器一般最多3-4个左右
*/
#wrap{
    position: relative;
    height: 100%;
}
.header{
    position: relative;
}
.header-main{
    background: deeppink;
    width: 1100px;
    height: 80px;
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 15px;
}
.music-icon{
    float: left;
    margin-top: 50px;
}
.nav{
    float: right;
    margin-top: 50px;
}
.nav li{
    position: relative;
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
.nav li:hover .down{
    width: 100%;
}
.nav li .up{
    color: #009EE0;
}
.nav li .down{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    transition: width 1s;
    overflow: hidden;
}
.header-main .arrow{
    position: absolute;
    left: 50%;
    bottom: -11px;
    z-index: 10;
    width: 21px;
    height: 11px;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    transition: left 1s;
}

/*内容区*/
.content{
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.contentList{
    position: absolute;
    left: 0;
    top: 0;  /*为了让第一次有过渡效果*/
    height: 500%;
    width: 100%;
    transition: top 0.8s;
}
.contentList>li{
    position: relative;
    height: 20%;
    background: pink;
    background-repeat: no-repeat;
}
.contentList section{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -550px;
    width: 1100px;
    height: 520px;
    background: skyblue;
}
.contentList>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
.contentList>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
.contentList>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
.contentList>li:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
.contentList>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}
.firstScreen .banner{
    height: 100%;

}
.common-title{
    color:#009ee0;
    font-size:80px;
    line-height:0.8;
    font-weight:bold;
    letter-spacing:-5px;
}
.firstScreen .banner li{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#fff;
    visibility: hidden;
    text-align: center;
    line-height: 520px;
}
.firstScreen .banner .active{
    visibility: visible;
}
.firstScreen .banner li:nth-child(1){
    background:#dc6c5f;
}
.firstScreen .banner li:nth-child(2){
    background:#95dc84;
}
.firstScreen .banner li:nth-child(3){
    background:#64b9d2;
}
.firstScreen .banner li:nth-child(4){
    background:#000000;
}
.firstScreen .circlePoint{
    position:absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
}
.firstScreen .circlePoint li{
    float: left;
    width:20px;
    height:20px;
    background:rgba(255,255,255,.5);
    margin:2px;
    box-shadow: 0 0 4px rgba(25,25,25,.8);
    border-radius: 50%;
}
.firstScreen .circlePoint .active{
    background: #fff;
}
.banner .left-hide {
    visibility: hidden;
    animation: leftHide 2s linear;
}
.banner .left-show{
    visibility: visible;
    animation: leftShow 2s linear ;
}
.banner .right-hide{
    visibility: hidden;
    animation: rightHide 2s linear ;
}
.banner .right-show{
    visibility: visible;
    animation: rightShow 2s linear ;
}
@keyframes left-hide{
     0%{visibility: visible}
     50%{transform:translateX(-40%) rotateY(30deg) scale(.8)}
     100%{visibility:hidden;transform: translateZ(-200px)}
 }
@keyframes left-show{
    0%{visibility: hidden ;transform: translateZ(-200px)}
    50%{transform:translateX(-40%) rotateY(30deg) scale(.8)}
    100%{visibility:visible}
}
@keyframes right-hide{
    0%{visibility: visible}
    50%{transform:translateX(40%) rotateY(-30deg) scale(.8)}
    100%{visibility:hidden;transform: translateZ(-200px)}
}
@keyframes right-show{
    0%{visibility: hidden ;transform: translateZ(-200px)}
    50%{transform:translateX(40%) rotateY(-30deg) scale(.8)}
    100%{visibility:visible}
}